<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="columnFilter">
            <entry key="mode" type="xstring" value="MANUAL"/>
            <config key="patternFilter">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="isCaseSensitive" type="xboolean" value="false"/>
                <entry key="isInverted" type="xboolean" value="false"/>
            </config>
            <config key="manualFilter">
                <config key="manuallySelected">
                    <entry key="array-size" type="xint" value="109"/>
                    <entry key="0" type="xstring" value="x_cap-shape"/>
                    <entry key="1" type="xstring" value="b_cap-shape"/>
                    <entry key="2" type="xstring" value="s_cap-shape"/>
                    <entry key="3" type="xstring" value="f_cap-shape"/>
                    <entry key="4" type="xstring" value="k_cap-shape"/>
                    <entry key="5" type="xstring" value="c_cap-shape"/>
                    <entry key="6" type="xstring" value="s_cap-surface"/>
                    <entry key="7" type="xstring" value="y_cap-surface"/>
                    <entry key="8" type="xstring" value="f_cap-surface"/>
                    <entry key="9" type="xstring" value="g_cap-surface"/>
                    <entry key="10" type="xstring" value="n_cap-color"/>
                    <entry key="11" type="xstring" value="y_cap-color"/>
                    <entry key="12" type="xstring" value="w_cap-color"/>
                    <entry key="13" type="xstring" value="g_cap-color"/>
                    <entry key="14" type="xstring" value="e_cap-color"/>
                    <entry key="15" type="xstring" value="p_cap-color"/>
                    <entry key="16" type="xstring" value="b_cap-color"/>
                    <entry key="17" type="xstring" value="u_cap-color"/>
                    <entry key="18" type="xstring" value="c_cap-color"/>
                    <entry key="19" type="xstring" value="r_cap-color"/>
                    <entry key="20" type="xstring" value="t_bruises"/>
                    <entry key="21" type="xstring" value="f_bruises"/>
                    <entry key="22" type="xstring" value="p_odor"/>
                    <entry key="23" type="xstring" value="a_odor"/>
                    <entry key="24" type="xstring" value="l_odor"/>
                    <entry key="25" type="xstring" value="n_odor"/>
                    <entry key="26" type="xstring" value="f_odor"/>
                    <entry key="27" type="xstring" value="c_odor"/>
                    <entry key="28" type="xstring" value="y_odor"/>
                    <entry key="29" type="xstring" value="s_odor"/>
                    <entry key="30" type="xstring" value="m_odor"/>
                    <entry key="31" type="xstring" value="c_gill-spacing"/>
                    <entry key="32" type="xstring" value="w_gill-spacing"/>
                    <entry key="33" type="xstring" value="n_gill-size"/>
                    <entry key="34" type="xstring" value="b_gill-size"/>
                    <entry key="35" type="xstring" value="k_gill-color"/>
                    <entry key="36" type="xstring" value="n_gill-color"/>
                    <entry key="37" type="xstring" value="g_gill-color"/>
                    <entry key="38" type="xstring" value="p_gill-color"/>
                    <entry key="39" type="xstring" value="w_gill-color"/>
                    <entry key="40" type="xstring" value="h_gill-color"/>
                    <entry key="41" type="xstring" value="u_gill-color"/>
                    <entry key="42" type="xstring" value="e_gill-color"/>
                    <entry key="43" type="xstring" value="b_gill-color"/>
                    <entry key="44" type="xstring" value="r_gill-color"/>
                    <entry key="45" type="xstring" value="y_gill-color"/>
                    <entry key="46" type="xstring" value="o_gill-color"/>
                    <entry key="47" type="xstring" value="e_stalk-shape"/>
                    <entry key="48" type="xstring" value="t_stalk-shape"/>
                    <entry key="49" type="xstring" value="s_stalk-surface-above-ring"/>
                    <entry key="50" type="xstring" value="f_stalk-surface-above-ring"/>
                    <entry key="51" type="xstring" value="k_stalk-surface-above-ring"/>
                    <entry key="52" type="xstring" value="y_stalk-surface-above-ring"/>
                    <entry key="53" type="xstring" value="s_stalk-surface-below-ring"/>
                    <entry key="54" type="xstring" value="f_stalk-surface-below-ring"/>
                    <entry key="55" type="xstring" value="y_stalk-surface-below-ring"/>
                    <entry key="56" type="xstring" value="k_stalk-surface-below-ring"/>
                    <entry key="57" type="xstring" value="w_stalk-color-above-ring"/>
                    <entry key="58" type="xstring" value="g_stalk-color-above-ring"/>
                    <entry key="59" type="xstring" value="p_stalk-color-above-ring"/>
                    <entry key="60" type="xstring" value="n_stalk-color-above-ring"/>
                    <entry key="61" type="xstring" value="b_stalk-color-above-ring"/>
                    <entry key="62" type="xstring" value="e_stalk-color-above-ring"/>
                    <entry key="63" type="xstring" value="o_stalk-color-above-ring"/>
                    <entry key="64" type="xstring" value="c_stalk-color-above-ring"/>
                    <entry key="65" type="xstring" value="y_stalk-color-above-ring"/>
                    <entry key="66" type="xstring" value="w_stalk-color-below-ring"/>
                    <entry key="67" type="xstring" value="p_stalk-color-below-ring"/>
                    <entry key="68" type="xstring" value="g_stalk-color-below-ring"/>
                    <entry key="69" type="xstring" value="b_stalk-color-below-ring"/>
                    <entry key="70" type="xstring" value="n_stalk-color-below-ring"/>
                    <entry key="71" type="xstring" value="e_stalk-color-below-ring"/>
                    <entry key="72" type="xstring" value="y_stalk-color-below-ring"/>
                    <entry key="73" type="xstring" value="o_stalk-color-below-ring"/>
                    <entry key="74" type="xstring" value="c_stalk-color-below-ring"/>
                    <entry key="75" type="xstring" value="w_veil-color"/>
                    <entry key="76" type="xstring" value="n_veil-color"/>
                    <entry key="77" type="xstring" value="o_veil-color"/>
                    <entry key="78" type="xstring" value="y_veil-color"/>
                    <entry key="79" type="xstring" value="o_ring-number"/>
                    <entry key="80" type="xstring" value="t_ring-number"/>
                    <entry key="81" type="xstring" value="n_ring-number"/>
                    <entry key="82" type="xstring" value="p_ring-type"/>
                    <entry key="83" type="xstring" value="e_ring-type"/>
                    <entry key="84" type="xstring" value="l_ring-type"/>
                    <entry key="85" type="xstring" value="f_ring-type"/>
                    <entry key="86" type="xstring" value="n_ring-type"/>
                    <entry key="87" type="xstring" value="k_spore-print-color"/>
                    <entry key="88" type="xstring" value="n_spore-print-color"/>
                    <entry key="89" type="xstring" value="u_spore-print-color"/>
                    <entry key="90" type="xstring" value="h_spore-print-color"/>
                    <entry key="91" type="xstring" value="w_spore-print-color"/>
                    <entry key="92" type="xstring" value="r_spore-print-color"/>
                    <entry key="93" type="xstring" value="o_spore-print-color"/>
                    <entry key="94" type="xstring" value="y_spore-print-color"/>
                    <entry key="95" type="xstring" value="b_spore-print-color"/>
                    <entry key="96" type="xstring" value="s_population"/>
                    <entry key="97" type="xstring" value="n_population"/>
                    <entry key="98" type="xstring" value="a_population"/>
                    <entry key="99" type="xstring" value="v_population"/>
                    <entry key="100" type="xstring" value="y_population"/>
                    <entry key="101" type="xstring" value="c_population"/>
                    <entry key="102" type="xstring" value="u_habitat"/>
                    <entry key="103" type="xstring" value="g_habitat"/>
                    <entry key="104" type="xstring" value="m_habitat"/>
                    <entry key="105" type="xstring" value="d_habitat"/>
                    <entry key="106" type="xstring" value="p_habitat"/>
                    <entry key="107" type="xstring" value="w_habitat"/>
                    <entry key="108" type="xstring" value="l_habitat"/>
                </config>
                <config key="manuallyDeselected">
                    <entry key="array-size" type="xint" value="0"/>
                </config>
                <entry key="includeUnknownColumns" type="xboolean" value="true"/>
            </config>
            <config key="typeFilter">
                <config key="selectedTypes">
                    <entry key="array-size" type="xint" value="0"/>
                </config>
            </config>
        </config>
        <entry key="nrOfClusters" type="xint" value="5"/>
        <entry key="centroidInitialization" type="xstring" value="RANDOM_INITIALIZATION"/>
        <entry key="useStaticRandomSeed" type="xboolean" value="true"/>
        <entry key="seedValue" type="xstring" value="42"/>
        <entry key="maxIterations" type="xint" value="99"/>
        <entry key="enableHilite" type="xboolean" value="false"/>
    </config>
    <config key="variables"/>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.mine.cluster.kmeans.KMeansNodeFactory"/>
    <entry key="node-name" type="xstring" value="k-Means"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.9.0.v202511140634"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.9.0.v202511140634"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="k-Means"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
        <config key="port_3">
            <entry key="index" type="xint" value="3"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
